@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --darkreader-neutral-background: #212221;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-sidebar-background:#131516;
    --darkreader-sidebar-text:white;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
    --darkreader-header-background:rgb(14, 19, 31);
    --darkreader-content-background:rgb(84, 91, 94);
    --darkreader-card-background:rgb(14, 19, 31);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box inset;
    font-family: Roboto;
    /* outline: 1px solid red; */
}

body {
    display: grid;
    grid-template-columns: minmax(250px,1fr) 5fr;
    background-color: var(--darkreader-neutral-background);
    color: var(--darkreader-neutral-text);
}

sidebar {
    height: 100vh;
    background-color: var(--darkreader-sidebar-background);
    color:var(--darkreader-sidebar-text);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, auto);
    align-content: flex-start;
    grid-template-areas:
        "title"
        "navs"
        "settings";
    padding: 20px;
    padding-left: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 1;
}

sidebar > * {
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 3fr);
    gap:10px;
}

sidebar > * > span {
    justify-self:flex-end;
    align-self: flex-end;
}

sidebar > * > a {
    justify-self: flex-start;
    align-self: center;
}

sidebar > div:nth-child(1) > a {
    font-size: 2rem;
    font-weight: bolder;
}

sidebar > div:nth-child(1n+1) > a{
    font-weight: bold;
}

main {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header"
        "content";
    align-content: flex-start;
}


header {
    grid-area: header;
    background-color: var(--darkreader-header-background);
    display: grid;
    grid-template-columns: auto 3fr 1fr auto auto auto;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    grid-auto-columns: auto 1fr  1fr auto auto auto;
    grid-template-rows: 40px;
    grid-auto-rows: 60px;
    grid-template-areas: 200px;
    grid-template-areas: 
        "search search empty notif pfp1 name"
        "pfp2 profile buttons buttons buttons buttons";
    align-items: center;
    gap:10px;
}

input {
    height: 1.5rem;
    border-radius: 10px;
    width: 100%;
}

input, textarea {
    background-color: var(--darkreader-content-background);
}

.search {
    grid-area: search;
    display: grid;
    grid-template-columns: auto 1fr;
    gap:10px;
}

.mdi-bell-ring {
    grid-area: notif;
}

.pfp1 {
    grid-area: pfp1;
}

.name {
    grid-area: name;
}

.pfp2 {
    grid-area: pfp2;
}

img {
    aspect-ratio: 1;
    border-radius: 50%;
    max-height: 100%;
}
#profile {
    grid-area: profile;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "hi"
        "profile-name";
    font-weight: bold;
    align-items: center;
}

#hi {
    grid-area: hi;
}

#profile-name{
    grid-area: profile-name;
    font-size: 1.5rem
}

#buttons {
    grid-area: buttons;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap:10px;
}

button {
    border-radius: 10px;
    height:30px;
}
content {
    grid-area: content;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    padding: 20px;
    background-color: var(--darkreader-content-background);
    grid-template-areas: 
        "projects announcements"
        "projects trending";
    gap:20px;
    font-weight: bold;
}

#projects {
    grid-area: projects;
    display: grid;
    grid-template-rows: auto;
    align-content: flex-start;
    gap:20px;
    color: var(--darkreader-selection-text);
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap:20px;
}

#project-title {
    grid-column: 1 / -1;
}

.project-card {
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap:10px;
    background-color: var(--darkreader-card-background);
}

p {
    font-weight:normal;
}

#announcements {
    grid-area: announcements;
    display: grid;
    grid-template-rows: auto;
    align-content: flex-start;
    gap:20px;
}

#announcement-container {
    display: grid;
    grid-template-rows: 1fr;
    align-content: flex-start;
    padding: 10px;
    background-color: var(--darkreader-card-background);
    border-radius: 10px;
}

.announcement {
    display: grid;
    grid-template-rows: auto;
}

#announcement-container > div:nth-child(2) {
    border-top: solid 1px var(--darkreader-sidebar-background);
    border-bottom: solid 1px var(--darkreader-sidebar-background);
}

#trending {
    grid-area:trending;
    display: grid;
    gap:20px;
    align-content: flex-start;
}

#trending-container {
    display: grid;
    padding: 10px;
    background-color: var(--darkreader-card-background);
    gap:10px;
    border-radius: 10px;
}

.profile-card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "profile-picture name"
        "profile-picture quote";
    gap: 10px;
}

.profile-card > img {
    grid-area: profile-picture;
    height: 50px;
}

.card-buttons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: flex-end;
}


